<!-- data binding -->
<p>Hi {{first_name}} {{last_name}},</p>
<div>
  Hi 
  <strong>{{firstName}} </strong>
  <strong>{{lastName}}</strong>
</div>

<!-- property binding -->
<div>
  <span [innerHTML]='firstName'></span>                
</div>

<!-- style binding -->
<h1 [style.color]="blue">This is a Blue Heading</h1>

<!-- event binding -->
<button (click)="myFunction()">Show alert</button>
<br>
<br>
<br>
Enter the value  : <input [(ngModel)] ='val'> 
<br>
<p>Entered value is:  {{val}} </p>
<br>

<p>Product listing using *ngFor:</p>
<ul>
  <li *ngFor="let product of products">{{ product }}</li>
</ul>
<router-outlet></router-outlet>